### Assignment 3: Data Structures, Loops, Functions

#### (10 pts) A. Nested Data Structures and Lists

The students received their grades for a midterm exam. The results came as a dictionary, and the grades are in the form of lists. The list contains the score each student received, for each question in the midterm. Unfortunately, the professor was very absent minded and he forgot to sum up the points to compute the overall grade for each student.

* (1pts) How many students are in the data set?
* (1pts) How many questions were in the midterm?
* (4pts) Write code to compute the overall grade of each student. Add the overall grade in a new dictionary called `midterm_grades`, with the students as keys, and the overall grades as (integer) values.
* (1pts) Extract the values from the `midterm_grades` and create a list of the overall grades for the midterm.
* (3pts) Compute the maximum, minimum, average, and median grade among the overall student grades.

In [1]:
grades = {
    "studentA" : [5, 2, 3, 1, 2, 4, 5, 5, 1, 1],
    "studentB" : [1, 2, 5, 5, 2, 0, 1, 5, 5, 2],
    "studentC" : [2, 5, 5, 5, 5, 0, 1, 3, 1, 0],
    "studentD" : [0, 1, 0, 5, 2, 5, 1, 3, 3, 5],
    "studentE" : [5, 4, 5, 5, 1, 5, 1, 4, 4, 5],
    "studentF" : [2, 2, 1, 1, 1, 3, 1, 3, 0, 1],
    "studentG" : [5, 5, 5, 5, 5, 4, 3, 5, 3, 1],
}

In [2]:
### Part - 1
print("There are",len(grades), "Students in the dataset")

There are 7 Students in the dataset

In [3]:
### Part - 2
print("There are",len(grades["studentA"]),"questions in mid term")

There are 10 questions in mid term

In [4]:
### Part - 3

midterm_grades={}
for student in grades:
    midterm_grades[student] = sum(grades[student])
print("Midterm Grades =",midterm_grades)

Midterm Grades = {'studentA': 29, 'studentB': 28, 'studentC': 27, 'studentD': 25, 'studentE': 39, 'studentF': 15, 'studentG': 41}

In [5]:
### Part - 4
overall_grade = list(midterm_grades.values())
print("Overall grade =",overall_grade)

Overall grade = [29, 28, 27, 25, 39, 15, 41]

In [6]:
### Part - 5
print("Min = ",min(overall_grade))
print("Max = ",max(overall_grade))
print("Mean = ",sum(overall_grade) / len(overall_grade))
print("Median = ",sorted(overall_grade)[len(overall_grade)//2])

Min =  15
Max =  41
Mean =  29.142857142857142
Median =  28

#### (10 pts) B. Restaurant Meal Price 

* Part 1. (1pts) Write code that computes the total price of the meal in a restaurant. You know that:
    * The price of the food is $15.
    * The NY State Tax rate is 8.875%.
    * The tipping percentage is 18% of the the overall cost of the meal (including tax).
    * Use Python variables to perform the computation.

* Part 2. (2 pts) Write a function that computes the total price of the meal in a restaurant. The function takes as input the food price, the sales tax rate, and the tip percentage. The tip is computed on the overall cost of the meal (including tax).

* Part 3. (3 pts) Write a for loop that computes the total price of a meal, for different tipping rates, starting from 15% and ending at 25% (both inclusive) at 1% increments. Use the function from Part 2 as part of the loop.

* Part 4. (4 pts) Below you will find a dictionary with the tax rates for different states, expressed in percentages. Iterate through all states and print the value of a meal, where the pre-tax food price is $20; show the prices for tip percentages of 15%, 20%, and 25%.

In [7]:
### Part - 1

price=15
state_tax= 8.875
tip = 18

price_with_tax=price * (state_tax/100)

total_cost= price + price_with_tax + (price + price_with_tax ) * (tip/100)

print("Total cost of the meal =",total_cost)

Total cost of the meal = 19.270875

In [8]:
#### Part - 2

def total_meal_cost(price,state_tax,tip):
    return price + price * (state_tax/100) + (price + price * (state_tax/100) ) * (tip/100)

In [9]:
### Part - 3

for tip in range(15,26):
    print("Total Meal cost at",tip,"% tipping rate =",total_meal_cost(price=15,state_tax=8.875,tip=tip))

Total Meal cost at 15 % tipping rate = 18.7809375
Total Meal cost at 16 % tipping rate = 18.94425
Total Meal cost at 17 % tipping rate = 19.1075625
Total Meal cost at 18 % tipping rate = 19.270875
Total Meal cost at 19 % tipping rate = 19.4341875
Total Meal cost at 20 % tipping rate = 19.5975
Total Meal cost at 21 % tipping rate = 19.7608125
Total Meal cost at 22 % tipping rate = 19.924125
Total Meal cost at 23 % tipping rate = 20.0874375
Total Meal cost at 24 % tipping rate = 20.25075
Total Meal cost at 25 % tipping rate = 20.4140625

In [10]:
tax = {
    "Alabama": 13.50, 
    "Alaska": 7,
    "Arizona": 10.73,
    "Arkansas": 11.63,
    "California": 10,
    "Colorado": 10,
    "Connecticut": 6.35,
    "Delaware": 0,
    "District of Columbia": 5.75,
    "Florida": 7.50,
    "Georgia": 8,
    "Hawaii": 4.50,
    "Idaho": 8.50,
    "Illinois": 9.75,
    "Indiana": 7,
    "Iowa": 7,
    "Kansas": 9.65,
    "Kentucky": 6,
    "Louisiana": 11,
    "Maine": 5.50,
    "Maryland": 6,
    "Massachusetts": 6.25,
    "Michigan": 6,
    "Minnesota": 7.88,
    "Mississippi": 7.25,
    "Missouri": 9.35,
    "Montana": 0,
    "Nebraska": 7.50,
    "Nevada": 8.10,
    "New Hampshire": 0,
    "New Jersey": 7,
    "New Mexico": 8.69,
    "New York": 8.88,
    "North Carolina": 7.50,
    "North Dakota": 8,
    "Ohio": 8,
    "Oklahoma": 11,
    "Oregon": 0,
    "Pennsylvania": 8,
    "Rhode Island": 7,
    "South Carolina": 9,
    "South Dakota": 6,
    "Tennessee": 9.75,
    "Texas": 8.25,
    "Utah": 8.35,
    "Vermont": 7,
    "Virginia": 6,
    "Washington": 9.60,
    "West Virginia": 7,
    "Wisconsin": 5.60,
    "Wyoming": 6,
}

In [11]:
### Part - 4
food_price=20
tips = [15,20,25]

def meal_cost(food_price,state_tax,tip):
    return food_price + food_price * (state_tax/100) + (food_price + food_price * state_tax/100 ) * (tip/100)
    
for state in tax:
    [print("Meal Cost in",state,"with a tax rate of",tax[state],"and tip rate of",tip,"% =", \
           meal_cost(food_price,tax[state],tip)) for tip in tips]

Meal Cost in Alabama with a tax rate of 13.5 and tip rate of 15 % = 26.105
Meal Cost in Alabama with a tax rate of 13.5 and tip rate of 20 % = 27.24
Meal Cost in Alabama with a tax rate of 13.5 and tip rate of 25 % = 28.375
Meal Cost in Alaska with a tax rate of 7 and tip rate of 15 % = 24.61
Meal Cost in Alaska with a tax rate of 7 and tip rate of 20 % = 25.68
Meal Cost in Alaska with a tax rate of 7 and tip rate of 25 % = 26.75
Meal Cost in Arizona with a tax rate of 10.73 and tip rate of 15 % = 25.4679
Meal Cost in Arizona with a tax rate of 10.73 and tip rate of 20 % = 26.575200000000002
Meal Cost in Arizona with a tax rate of 10.73 and tip rate of 25 % = 27.6825
Meal Cost in Arkansas with a tax rate of 11.63 and tip rate of 15 % = 25.6749
Meal Cost in Arkansas with a tax rate of 11.63 and tip rate of 20 % = 26.7912
Meal Cost in Arkansas with a tax rate of 11.63 and tip rate of 25 % = 27.9075
Meal Cost in California with a tax rate of 10 and tip rate of 15 % = 25.3
Meal Cost in California with a tax rate of 10 and tip rate of 20 % = 26.4
Meal Cost in California with a tax rate of 10 and tip rate of 25 % = 27.5
Meal Cost in Colorado with a tax rate of 10 and tip rate of 15 % = 25.3
Meal Cost in Colorado with a tax rate of 10 and tip rate of 20 % = 26.4
Meal Cost in Colorado with a tax rate of 10 and tip rate of 25 % = 27.5
Meal Cost in Connecticut with a tax rate of 6.35 and tip rate of 15 % = 24.4605
Meal Cost in Connecticut with a tax rate of 6.35 and tip rate of 20 % = 25.524
Meal Cost in Connecticut with a tax rate of 6.35 and tip rate of 25 % = 26.5875
Meal Cost in Delaware with a tax rate of 0 and tip rate of 15 % = 23.0
Meal Cost in Delaware with a tax rate of 0 and tip rate of 20 % = 24.0
Meal Cost in Delaware with a tax rate of 0 and tip rate of 25 % = 25.0
Meal Cost in District of Columbia with a tax rate of 5.75 and tip rate of 15 % = 24.322499999999998
Meal Cost in District of Columbia with a tax rate of 5.75 and tip rate of 20 % = 25.38
Meal Cost in District of Columbia with a tax rate of 5.75 and tip rate of 25 % = 26.4375
Meal Cost in Florida with a tax rate of 7.5 and tip rate of 15 % = 24.725
Meal Cost in Florida with a tax rate of 7.5 and tip rate of 20 % = 25.8
Meal Cost in Florida with a tax rate of 7.5 and tip rate of 25 % = 26.875
Meal Cost in Georgia with a tax rate of 8 and tip rate of 15 % = 24.840000000000003
Meal Cost in Georgia with a tax rate of 8 and tip rate of 20 % = 25.92
Meal Cost in Georgia with a tax rate of 8 and tip rate of 25 % = 27.0
Meal Cost in Hawaii with a tax rate of 4.5 and tip rate of 15 % = 24.034999999999997
Meal Cost in Hawaii with a tax rate of 4.5 and tip rate of 20 % = 25.08
Meal Cost in Hawaii with a tax rate of 4.5 and tip rate of 25 % = 26.125
Meal Cost in Idaho with a tax rate of 8.5 and tip rate of 15 % = 24.955
Meal Cost in Idaho with a tax rate of 8.5 and tip rate of 20 % = 26.04
Meal Cost in Idaho with a tax rate of 8.5 and tip rate of 25 % = 27.125
Meal Cost in Illinois with a tax rate of 9.75 and tip rate of 15 % = 25.2425
Meal Cost in Illinois with a tax rate of 9.75 and tip rate of 20 % = 26.34
Meal Cost in Illinois with a tax rate of 9.75 and tip rate of 25 % = 27.4375
Meal Cost in Indiana with a tax rate of 7 and tip rate of 15 % = 24.61
Meal Cost in Indiana with a tax rate of 7 and tip rate of 20 % = 25.68
Meal Cost in Indiana with a tax rate of 7 and tip rate of 25 % = 26.75
Meal Cost in Iowa with a tax rate of 7 and tip rate of 15 % = 24.61
Meal Cost in Iowa with a tax rate of 7 and tip rate of 20 % = 25.68
Meal Cost in Iowa with a tax rate of 7 and tip rate of 25 % = 26.75
Meal Cost in Kansas with a tax rate of 9.65 and tip rate of 15 % = 25.2195
Meal Cost in Kansas with a tax rate of 9.65 and tip rate of 20 % = 26.316
Meal Cost in Kansas with a tax rate of 9.65 and tip rate of 25 % = 27.4125
Meal Cost in Kentucky with a tax rate of 6 and tip rate of 15 % = 24.38
Meal Cost in Kentucky with a tax rate of 6 and tip rate of 20 % = 25.439999999999998
Meal Cost in Kentucky with a tax rate of 6 and tip rate of 25 % = 26.5
Meal Cost in Louisiana with a tax rate of 11 and tip rate of 15 % = 25.529999999999998
Meal Cost in Louisiana with a tax rate of 11 and tip rate of 20 % = 26.64
Meal Cost in Louisiana with a tax rate of 11 and tip rate of 25 % = 27.75
Meal Cost in Maine with a tax rate of 5.5 and tip rate of 15 % = 24.265
Meal Cost in Maine with a tax rate of 5.5 and tip rate of 20 % = 25.32
Meal Cost in Maine with a tax rate of 5.5 and tip rate of 25 % = 26.375
Meal Cost in Maryland with a tax rate of 6 and tip rate of 15 % = 24.38
Meal Cost in Maryland with a tax rate of 6 and tip rate of 20 % = 25.439999999999998
Meal Cost in Maryland with a tax rate of 6 and tip rate of 25 % = 26.5
Meal Cost in Massachusetts with a tax rate of 6.25 and tip rate of 15 % = 24.4375
Meal Cost in Massachusetts with a tax rate of 6.25 and tip rate of 20 % = 25.5
Meal Cost in Massachusetts with a tax rate of 6.25 and tip rate of 25 % = 26.5625
Meal Cost in Michigan with a tax rate of 6 and tip rate of 15 % = 24.38
Meal Cost in Michigan with a tax rate of 6 and tip rate of 20 % = 25.439999999999998
Meal Cost in Michigan with a tax rate of 6 and tip rate of 25 % = 26.5
Meal Cost in Minnesota with a tax rate of 7.88 and tip rate of 15 % = 24.8124
Meal Cost in Minnesota with a tax rate of 7.88 and tip rate of 20 % = 25.8912
Meal Cost in Minnesota with a tax rate of 7.88 and tip rate of 25 % = 26.97
Meal Cost in Mississippi with a tax rate of 7.25 and tip rate of 15 % = 24.6675
Meal Cost in Mississippi with a tax rate of 7.25 and tip rate of 20 % = 25.74
Meal Cost in Mississippi with a tax rate of 7.25 and tip rate of 25 % = 26.8125
Meal Cost in Missouri with a tax rate of 9.35 and tip rate of 15 % = 25.1505
Meal Cost in Missouri with a tax rate of 9.35 and tip rate of 20 % = 26.244
Meal Cost in Missouri with a tax rate of 9.35 and tip rate of 25 % = 27.337500000000002
Meal Cost in Montana with a tax rate of 0 and tip rate of 15 % = 23.0
Meal Cost in Montana with a tax rate of 0 and tip rate of 20 % = 24.0
Meal Cost in Montana with a tax rate of 0 and tip rate of 25 % = 25.0
Meal Cost in Nebraska with a tax rate of 7.5 and tip rate of 15 % = 24.725
Meal Cost in Nebraska with a tax rate of 7.5 and tip rate of 20 % = 25.8
Meal Cost in Nebraska with a tax rate of 7.5 and tip rate of 25 % = 26.875
Meal Cost in Nevada with a tax rate of 8.1 and tip rate of 15 % = 24.863
Meal Cost in Nevada with a tax rate of 8.1 and tip rate of 20 % = 25.944000000000003
Meal Cost in Nevada with a tax rate of 8.1 and tip rate of 25 % = 27.025000000000002
Meal Cost in New Hampshire with a tax rate of 0 and tip rate of 15 % = 23.0
Meal Cost in New Hampshire with a tax rate of 0 and tip rate of 20 % = 24.0
Meal Cost in New Hampshire with a tax rate of 0 and tip rate of 25 % = 25.0
Meal Cost in New Jersey with a tax rate of 7 and tip rate of 15 % = 24.61
Meal Cost in New Jersey with a tax rate of 7 and tip rate of 20 % = 25.68
Meal Cost in New Jersey with a tax rate of 7 and tip rate of 25 % = 26.75
Meal Cost in New Mexico with a tax rate of 8.69 and tip rate of 15 % = 24.9987
Meal Cost in New Mexico with a tax rate of 8.69 and tip rate of 20 % = 26.0856
Meal Cost in New Mexico with a tax rate of 8.69 and tip rate of 25 % = 27.1725
Meal Cost in New York with a tax rate of 8.88 and tip rate of 15 % = 25.0424
Meal Cost in New York with a tax rate of 8.88 and tip rate of 20 % = 26.1312
Meal Cost in New York with a tax rate of 8.88 and tip rate of 25 % = 27.22
Meal Cost in North Carolina with a tax rate of 7.5 and tip rate of 15 % = 24.725
Meal Cost in North Carolina with a tax rate of 7.5 and tip rate of 20 % = 25.8
Meal Cost in North Carolina with a tax rate of 7.5 and tip rate of 25 % = 26.875
Meal Cost in North Dakota with a tax rate of 8 and tip rate of 15 % = 24.840000000000003
Meal Cost in North Dakota with a tax rate of 8 and tip rate of 20 % = 25.92
Meal Cost in North Dakota with a tax rate of 8 and tip rate of 25 % = 27.0
Meal Cost in Ohio with a tax rate of 8 and tip rate of 15 % = 24.840000000000003
Meal Cost in Ohio with a tax rate of 8 and tip rate of 20 % = 25.92
Meal Cost in Ohio with a tax rate of 8 and tip rate of 25 % = 27.0
Meal Cost in Oklahoma with a tax rate of 11 and tip rate of 15 % = 25.529999999999998
Meal Cost in Oklahoma with a tax rate of 11 and tip rate of 20 % = 26.64
Meal Cost in Oklahoma with a tax rate of 11 and tip rate of 25 % = 27.75
Meal Cost in Oregon with a tax rate of 0 and tip rate of 15 % = 23.0
Meal Cost in Oregon with a tax rate of 0 and tip rate of 20 % = 24.0
Meal Cost in Oregon with a tax rate of 0 and tip rate of 25 % = 25.0
Meal Cost in Pennsylvania with a tax rate of 8 and tip rate of 15 % = 24.840000000000003
Meal Cost in Pennsylvania with a tax rate of 8 and tip rate of 20 % = 25.92
Meal Cost in Pennsylvania with a tax rate of 8 and tip rate of 25 % = 27.0
Meal Cost in Rhode Island with a tax rate of 7 and tip rate of 15 % = 24.61
Meal Cost in Rhode Island with a tax rate of 7 and tip rate of 20 % = 25.68
Meal Cost in Rhode Island with a tax rate of 7 and tip rate of 25 % = 26.75
Meal Cost in South Carolina with a tax rate of 9 and tip rate of 15 % = 25.07
Meal Cost in South Carolina with a tax rate of 9 and tip rate of 20 % = 26.16
Meal Cost in South Carolina with a tax rate of 9 and tip rate of 25 % = 27.25
Meal Cost in South Dakota with a tax rate of 6 and tip rate of 15 % = 24.38
Meal Cost in South Dakota with a tax rate of 6 and tip rate of 20 % = 25.439999999999998
Meal Cost in South Dakota with a tax rate of 6 and tip rate of 25 % = 26.5
Meal Cost in Tennessee with a tax rate of 9.75 and tip rate of 15 % = 25.2425
Meal Cost in Tennessee with a tax rate of 9.75 and tip rate of 20 % = 26.34
Meal Cost in Tennessee with a tax rate of 9.75 and tip rate of 25 % = 27.4375
Meal Cost in Texas with a tax rate of 8.25 and tip rate of 15 % = 24.897499999999997
Meal Cost in Texas with a tax rate of 8.25 and tip rate of 20 % = 25.979999999999997
Meal Cost in Texas with a tax rate of 8.25 and tip rate of 25 % = 27.0625
Meal Cost in Utah with a tax rate of 8.35 and tip rate of 15 % = 24.9205
Meal Cost in Utah with a tax rate of 8.35 and tip rate of 20 % = 26.004
Meal Cost in Utah with a tax rate of 8.35 and tip rate of 25 % = 27.087500000000002
Meal Cost in Vermont with a tax rate of 7 and tip rate of 15 % = 24.61
Meal Cost in Vermont with a tax rate of 7 and tip rate of 20 % = 25.68
Meal Cost in Vermont with a tax rate of 7 and tip rate of 25 % = 26.75
Meal Cost in Virginia with a tax rate of 6 and tip rate of 15 % = 24.38
Meal Cost in Virginia with a tax rate of 6 and tip rate of 20 % = 25.439999999999998
Meal Cost in Virginia with a tax rate of 6 and tip rate of 25 % = 26.5
Meal Cost in Washington with a tax rate of 9.6 and tip rate of 15 % = 25.208000000000002
Meal Cost in Washington with a tax rate of 9.6 and tip rate of 20 % = 26.304000000000002
Meal Cost in Washington with a tax rate of 9.6 and tip rate of 25 % = 27.400000000000002
Meal Cost in West Virginia with a tax rate of 7 and tip rate of 15 % = 24.61
Meal Cost in West Virginia with a tax rate of 7 and tip rate of 20 % = 25.68
Meal Cost in West Virginia with a tax rate of 7 and tip rate of 25 % = 26.75
Meal Cost in Wisconsin with a tax rate of 5.6 and tip rate of 15 % = 24.288
Meal Cost in Wisconsin with a tax rate of 5.6 and tip rate of 20 % = 25.344
Meal Cost in Wisconsin with a tax rate of 5.6 and tip rate of 25 % = 26.400000000000002
Meal Cost in Wyoming with a tax rate of 6 and tip rate of 15 % = 24.38
Meal Cost in Wyoming with a tax rate of 6 and tip rate of 20 % = 25.439999999999998
Meal Cost in Wyoming with a tax rate of 6 and tip rate of 25 % = 26.5

#### (5 pts) C. Search within a file 

Read the file `restaurant-names.txt` which is stored under: `~/notebooks/notes/pi1/introduction_to_python/data` and answer the following questions:
* How many restaurants appear in the dataset?
* Print the restaurants that contain the word GREEK in their name.
* How many restaurants contain the word PIZZA in their name?

In [12]:
f = open("/home/kp2558/notebooks/notes/pi1/introduction_to_python/data/restaurant-names.txt","r")
content = f.read().split("\n")
f.close()

FileNotFoundError: [Errno 2] No such file or directory: '/home/kp2558/notebooks/notes/pi1/introduction_to_python/data/restaurant-names.txt'

In [ ]:
### Part - 1
def find_restaurants(keyword):
    search_list=[]
    [search_list.append(line) for line in content if keyword.lower() in line.lower()]
    return search_list

print("There are", len(content),"restaurants.")

In [ ]:
### Part - 2

greek_list = find_restaurants("GREEK")
print("Below are all the restaurants that contain the word GREEK")
greek_restuarants = [print(restaurant) for restaurant in greek_list]

In [ ]:
### Part - 3

pizza_list = find_restaurants("PIZZA")
print("There are",len(pizza_list),"restaurants with PIZZA in their name")

#### (5pts) D. Function that returns a dictionary 

Write a function that has a parameter that is the height of someone in centimeters. You need to convert it into feet and inches. (Each foot is 30.48 cm. Each inch is 2.54cm.). The function should return the height in feet and inches. The result should be a dictionary with two keys, `feet` and `inches`, and the values for both keys should be integers.

In [ ]:
def convert_height(ht_in_cm):
    height = dict()
    height["ht_ft"] = int(ht_in_cm / 30.48)
    height["ht_in"] = int(ht_in_cm % 30.48 / 2.54)
    return height

convert_height(175)

#### (5 pts) E. Road Pricing System 

The Transport Authority is implementing a new Road Pricing system. The authorities decided that the cars will be charged based on distance traveled, on a per mile basis. A car will be charged \$0.50/mi, a van \$2.1/mi and taxis travel for free. Create a function to determine how much a particular vehicle would be charged based on a particular distance. The function should take as input the type of the car and the distance traveled, and return the charged price.

In [ ]:
def charges(car_type, distance):
    if distance >0:
        if car_type.lower() == "car":
            return .5 * distance
        elif car_type.lower() == "van":
            return 2.1 * distance
        elif car_type.lower() == "taxi":
            return "Taxi is free"
        else:
            return "Unknown vehicle type"
    else:
        return "Distance should be greater than zero"

charges("taxi",100)

#### (15 pts) F. Most Common Item


Part 1. (5pts) Write a function that takes as input a list and returns the most common item in the list. 

Note: This is a challenging exercise. Below, I give some hints. As there are multiple possible solutions, not all hints are applicable to all solutions. Do not freak out if you came up with a solution that is not using some of the hints.

* _Hint 1: Make use of set to identify all the unique values in the list_
* _Hint 2: Use the `list.count(...)` function to find the frequency of each item_
* _Hint 3: The `max()` function can return the maximum value in a list_
* _Hint 4: You will need to use a for loop, or a list comprehension_

Here are some pieces of code that can help you towards your solution. Try to understand what each piece of code is doing, and figure out how to piece everything together.

In [ ]:
list_of_names = ["Kanisha", "Candance", "Lila", "Lupe", "Alexander", "Candance", 
           "Irvin", "Kanisha", "Lila", "May", "Lila", "Alexander", "Ivana", "Alexander"]
list_of_names.count("Candance")

In [ ]:
numbers = [5,42,34,6,7,4,2,5]
maximum = 0
for number in numbers:
    if number > maximum:
        maximum = number
print("The maximum is", maximum)

In [ ]:
counter = dict()
for name in list_of_names:
    if name in counter:
        counter[name] = counter[name]+1
    else:
        counter[name] = 1
counter

In [ ]:
text_list = ["Kanisha", "Candance", "Lila", "Lupe", "Alexander", "Candance", 
           "Irvin", "Kanisha", "Lila", "May", "Lila", "Alexander", "Ivana", "Alexander"]

In [ ]:

def get_most_frequent_words(text_list):
    counter = dict()
    for name in text_list:
        if name in counter:
            counter[name] = counter[name]+1
        else:
            counter[name] = 1
    return sorted([(v,k) for (k,v) in counter.items()], reverse=True)

In [ ]:
text_dict = get_most_frequent_words(text_list)
text_dict

Part 2.  (5pts) Use the function that you created here to find the most frequent restaurant names in the dataset, which is stored at `/home/YOUR_USERNAME/notebooks/notes/pi1/introduction_to_python/data/restaurants.txt`, replacing YOUR_USERNAME with your NYUid (e.g., abs123).

In [ ]:
f = open("/home/kp2558/notebooks/notes/pi1/introduction_to_python/data/restaurants.txt","r")

result_dict = {}
res_content = f.read().split("\n")
f.close()
result_dict = get_most_frequent_words(res_content)
result_dict

Part 3.  (5pts) Find the most frequent words that appear in the restaurant names. Create two answers: one for the dataset at `/home/YOUR_USERNAME/notebooks/notes/pi1/introduction_to_python/data/restaurant-names.txt` which contains only distinct restaurant names, and for the dataset at `/home/YOUR_USERNAME/notebooks/notes/pi1/introduction_to_python/data/restaurants.txt` which contains the names of all the restaurants in NYC, without eliminating duplicate names. In the filenames, please replace YOUR_USERNAME with your NYUid (e.g., abs123).

In [ ]:

def get_frequent_restaurant_words(file_name):
    
    result = {}
    f = open('/home/kp2558/notebooks/notes/pi1/introduction_to_python/data/{0}.txt'.format(file_name),'r')
    content = f.read()
    f.close()
    content = content.replace("\n"," ").translate({ord(c): "" for c in "'\"!@#$%^&*()[]{};:,./<>?\|`~-=_+¢é°É\x1a0123456789"})
    result = get_most_frequent_words(content.split())
    return result

In [ ]:
restaurant_names = "restaurant-names"

result_restaurant_names = get_frequent_restaurant_words(restaurant_names)
print("The most frequest words in", restaurant_names)
[print("{}\n".format(item)) for item in result_restaurant_names]

In [ ]:
restaurants = "restaurants"
result_restaurant = get_frequent_restaurant_words(restaurants)
print("The most frequest words in", restaurant)
[print("{}\n".format(item)) for item in result_restaurant]